<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 1 -->
    <bean id="user" class="com.zy.test.User"  scope="prototype" />
    <!--<bean id="user" class="com.zy.test.User"  scope="singleton" />-->
    <bean id="user2" class="com.zy.test.User">
        <constructor-arg value="zhangy"></constructor-arg>
    </bean>


    <!-- 2 -->

</beans>